<div class="banner mx-0 d-flex align-items-center justify-content-around flex-column" style="background-image: linear-gradient(127deg, rgba(245,240,225,.55), rgba(245,240,225,0.2)), url(<%= image_path('banner-min.png')%>)">
  <div class="banner-container text-center">
    <h1 class='mb-3 text-primary'>Ma petite balle jaune</h1>
    <h3 class='mb-5 text-primary'>Deviens le roi du prono</h4>
    <a href="#" class='h3 button button-warning'>Créer une ligue</a>
  </div>
</div>
