<div class="banner mx-0 d-flex align-items-center justify-content-around flex-column">
  <div class="banner-container text-center">
    <h1 class='mb-3 text-primary'>Ma petite balle jaune</h1>
    <h3 class='mb-5 text-primary'>Deviens le roi du prono</h4>
    <a href="#" class='h3 button button-warning'>Créer une ligue</a>
  </div>
</div>
