<div class="banner banner-background mx-0 d-flex align-items-center justify-content-around flex-column" style="background-image: linear-gradient(127deg, rgba(245,240,225,.55), rgba(245,240,225,0.2)), url(<%= image_path('banner-min.png')%>)">
  <div class="banner-container text-center">
    <h1 class='mb-3 text-primary'>Ma petite balle jaune</h1>
    <h3 class='mb-5 text-primary'>Deviens le roi du prono</h4>
    <%= link_to 'Créer une ligue', new_league_path, class: 'h3 button button-warning' %>
  </div>
</div>
