.game-box, .game-box-show {
  border-radius: 5px;
  margin: auto auto;
  width: 140px;
}

.arrow-between-games {
  font-size: 30px;
}

.form-player-box, .arrow-between-games, .show-prono-box {
  margin: auto auto;
}

.show-prono-box {
  display: flex;
  flex-direction: column;
  width: 110px;
  .result-box {
    margin-bottom: 8px;
    .result, .winner {
      font-size: 12px;
    }
    .result {
      padding-top: 4px;
      padding-bottom: 3px;
      text-align: center;
      font-size: 12px;
      background-color: $orange;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    .winner {
      font-size: 12px;
      letter-spacing: 0.5px;
      display: flex;
      color: $orange;
      background-color: $blue;
      align-items: center;
      padding-left: 10px;
    }
  }
  .game-player-box {
    display: flex;
    flex-direction: column;
    opacity: 0.6 !important;
    .ton-prono {
      padding-top: 4px;
      padding-bottom: 3px;
      text-align: center;
      font-size: 12px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
  .player-name, .winner {
      padding-top: 4px;
      padding-bottom: 4px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      padding-right: 5px;
  }
}

.game-box-show {
  .player-name {
    border-top-right-radius: 5px ;
    border-bottom-right-radius: 5px ;
    border-right: none;
  }
}

#final {
  .player-name {
    border-top-right-radius: 0 !important ;
    border-bottom-right-radius: 0 !important;
    border-right: none;
  }
}

.form-player-box {
  display: flex;
  width: 110px;
  opacity: 0.8;
  border-radius: 5px;
  .player-name {
    border-top: 2px solid $orange;
    border-bottom: 2px solid $orange;
    border-left: 2px solid $orange;
    border-top-left-radius: 5px ;
    border-bottom-left-radius: 5px ;
  }
  .player-result {
    border-top: 2px solid $orange;
    border-bottom: 2px solid $orange;
    border-right: 2px solid $orange;
  }
}

.player-box {
  display: flex;
  margin-bottom: 5px;
  width: 100%;
  height: 45px;
  .player-name {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.player-seed {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $orange;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    flex: 0 0 24px;
  }

.player-name {
  font-size: 12px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  background-color: $blue;
  color: $orange;
  flex-grow: 1;
  padding-left: 10px;
  word-wrap: break-word;
  textarea {
    background-color: $blue !important;
    border: none;
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
    letter-spacing: 0.5px;
    resize: none;
    text-align: center;
  }
}

.player-result {
  background-color: $blue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  flex: 0 0 17px;
  .fa-check-circle {
    color: green;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 12px;
    cursor: pointer;
  }
  .fa-times-circle {
    color: red;
    padding-bottom: 3px;
    padding-right: 5px;
    font-size: 12px;
  }
  .fa-trophy {
    font-size: 11px;
    padding-right: 5px;
    padding-left: 4px;
  }
}
